# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Ambiente virtual
venv/
.env/

# Logs
*.log

# Arquivos temporários
*.tmp
*.swp

# Jupyter (se usar)
.ipynb_checkpoints/

# Dados (opcional, se não quiser versionar)
data/